@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@300;400&family=Open+Sans&family=Public+Sans:wght@300;400&family=Roboto:wght@300&family=Rubik:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.green-bar {
  height: 18px;
  background-color: #00704a;
}

.navbar {
  background-color: #f6f7f6;
}

.logo {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f6;
}

.logo img {
  display: block;
}

.all-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.nav-links li:hover {
  color: #fff;
  background-color: #000;
}
